<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Economy</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="groups">
    <form v-on:submit.prevent="addGroup">
        <input v-model="newGroup" placeholder="Ny kategori">
    </form>
    <group
        v-for="(group, index) in groups"
        v-bind:key="group.id"
        v-bind:group="group"
        v-on:remove="groups.splice(index, 1)"
    ></group>
</div>
<script src="script.js"></script>
</body>
</html>